<link rel="openid.delegate" href="https://michael.thegrebs.com/" />
<link rel="openid.server" href="https://openid.indieauth.com/openid" />
<link href="https://twitter.com/mikegrb" rel="me">
<link href="https://github.com/mikegrb" rel="me">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1189404-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-1189404-1');
</script>